/************************************************

Stylesheet: Global Stylesheet

*************************************************/

/*********************
TYPOGRAPHY
*********************/
header, body, p, h1.txt-medium, h2.txt-medium, h3.txt-medium, h4.txt-medium, h5.txt-medium {font-family: Roboto, Helvetica, Arial, system-ui, "Segoe UI",  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}

h1, h2, h3, h4, h5 {font-family: Roboto, Helvetica, Arial, system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}

b, strong, h1 small, h2 small, h3 small, h4 small, h5 small, h1.txt-bold, h2.txt-bold, h3.txt-bold, h4.txt-bold, h5.txt-bold, #homepage-1 .homepage-hometitle h4 {font-family: Roboto, Helvetica, Arial, system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 800; font-weight: bold;}

/*********************
NAVIGATION CHANGES
*********************/
.logged-in.admin-bar .is-open#off-canvas {
	padding-top: 46px;
}

#top-bar-menu {
	background-color: white;
	box-shadow: 0px 4px 2px rgba(0,0,0,0.15);
}

.top-bar ul.menu {
	background-color: transparent;
}

#top-bar-menu a {
	color: #F60E33;
}

#top-bar-menu a.top-bar-logo-link, #top-bar-menu a.top-bar-logo-link:hover {
  padding: 0;
  background-color: transparent;
}

#top-bar-menu a.top-bar-site-name, #top-bar-menu a.top-bar-site-name:hover {
	background-color: transparent;
	color: #F60E33;
}

#top-bar-menu a.top-bar-site-name {
	padding: 0.7rem 1rem 0.7rem 0.35rem;
}

.menu a.top-bar-logo-link .top-bar-logo, .menu a.top-bar-logo-link .top-bar-logo:hover {
  height: 2.5rem;
  width: auto;
  padding: 0;
}

#top-bar-menu a:hover {
	color: #fff;
	background-color:black;
}

@media print, screen and (min-width: 40em) {
	.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
	    border-color: #fff transparent transparent;
	}
	.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent.active>a::after {
		border-color: #F60E33 transparent transparent;
	}
	#sidebar1 {
		margin-top: 80vh;
		border-left: 1px solid #ddd;
    	border-top: 1px solid #ddd;
	}
}

#top-bar-menu .menu .active > a {
	background-color: white;
	color: #F60E33;
	border-color: #fff transparent transparent;
}

.off-canvas .menu .active > a {
	background-color: white;
	color: black;
}

#top-bar-menu .is-dropdown-submenu {
	border: 1px solid #ddd;
}

#top-bar-menu .is-dropdown-submenu a {
	background-color: white;
	color: #F60E33;
}
#top-bar-menu .is-dropdown-submenu a:hover {
	background-color: #F60E33;
	color: white;
}

.off-canvas {
	background-color: white;
}

.off-canvas.is-open .menu.vertical .menu-item {
	padding: 0 0 0 0.5rem;
}

.off-canvas .menu.vertical .menu-item a {
	color: #F60E33;
	border-left: 1px solid #F60E33;
	border-bottom: 1px solid #F60E33;
	padding: 0 0 0.5rem 0.5rem;
	margin: 0 0 0.5rem 0;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
	border-color: #F60E33 transparent transparent;
}

/*********************
BUTTON STYLES
*********************/
.button {
	color: white;
	background-color: #F60E33;
	border: 1px solid #F60E33;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.button:focus, .button:hover {
	color: #F60E33;
	background-color: white;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

body .article-header h1, body .article-header h2, body .article-header h3, body .article-header h4, body .article-header h5 {
	font-family: Roboto, Helvetica, Arial, system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #111;
}

body .article-header h1 {
  font-size: 3rem;
  margin: 0;
}

body .entry-content p {
	color: #111;
  font-size: 1.25rem;
}

.article-header .post-categories a {
	border: 1px solid #F60E33;
    color: #F60E33;
    padding: 0.5em;
    margin-right: 0.5rem;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
}

.article-header .post-categories a:hover {
	color: white;
	background-color: #F60E33;
}

.article-header .post-categories {
	margin-top: 3rem;
}

.article-header {
	margin-bottom: 3rem;
}

.article-header .byline {
	padding: 0.5rem 0rem;
	color: #999;
}

.article-header a {
	color: #F60E33;
}

.entry-content .post-caption {
	border-left: 1px solid;
	border-bottom: 1px solid;
	padding: 0 0 0.5rem 0.5rem;
	margin: 0.5rem 0 1rem 0;
	color: #999;
	border-color: #ddd;
}

.page-full-width .article-header, .page-no-sidebar .article-header {
	min-height: 50vh;
	position: relative;
}

.page-full-width .article-header .page-title {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	padding-top: 10vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.page-no-sidebar .article-header .page-title {
	position: absolute;
	bottom: 0;
	color: #000;
	width: 100%;
	padding-top: 20vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }
/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
HOMEPAGE - 1
*********************/
#homepage-1.homepage-backdrop {
  padding: 6rem 0 0 0;
  min-height: 100vh;
}

#homepage-1 .homepage-hometitle h4.widgettitle {
  color: white;
  text-shadow: 0px 6px 3px rgba(0,0,0,0.15);
}

 @media print, screen and (min-width: 40em) {
 	#homepage-1 .homepage-hometitle h4.widgettitle {
 		font-size: 7rem;
 	}
 }

 @media print, screen and (max-width: 39.9em) {
  	#homepage-1 .homepage-hometitle h4.widgettitle {
  		font-size: 5rem;
  	}
 }

#homepage-1 .homepage-hometitle p {
	color: white;
	font-size: 1.35rem;
}

#homepage-1 .homepage-hometitle p a {
	color: #F60E33;
	background-color: white;
	padding: 0 0.5em;
}

#homepage-1 .homebar {
	color: #677086;
	border: 1px solid #ddd;
	box-shadow: 0px 6px 3px rgba(0,0,0,0.15);
  	background: rgb(247,247,250);
	background: -moz-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7fa",endColorstr="#eaecf2",GradientType=1);
	margin-bottom: 1.5rem;
}

#homepage-1 .homebar h4.widgettitle {
	color: #21262C;
	font-size: 2rem;
}

#homepage-1 .homepage-feature {
  min-height: 33vh;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.15);
  color: #677086;
  background: rgb(247,247,250);
	background: -moz-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7fa",endColorstr="#eaecf2",GradientType=1);
  margin-bottom: 2rem;
}

#homepage-1 .article-header {
 	padding:0;
 	margin-bottom: 0.5rem;
 	display: block;
}

#homepage-1 .homepage-feature .entry-content p {
	color: #677086;
	font-size: 1rem;
}

#homepage-1 .article-header h1.page-title {
 	font-size: 2rem;
 	font-weight: 800;
}

#homepage-1 .article-header h1.page-title div.grid-container {
 	padding:0;
 	margin: 0;
 	display: block;
}

.page-template-template-homepage-1 footer {
	margin-top: 3rem;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

 .widget {
 	margin-bottom: 1.5rem; }

.widget ul {
  margin: 0; }

/*********************
ARCHIVE STYLES
*********************/
.archive-card a {
  color: #F60E33; }

.archive-card h3 a, .archive-index .article-header .article-title a {
  	color: #000;
}

.archive-card .cell.panel {
	color: #93A1AF;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    background: rgb(247,247,250);
    background: -moz-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
    background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(234,236,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7fa",endColorstr="#eaecf2",GradientType=1);
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.archive-card .article-header {
  	margin-bottom: 0;
  	padding: 0;
}

.archive-card .article-header h3 {
	font-size: 1.25rem;
	margin: 0.25rem 0;
}

.archive-card .article-header .byline {
	border-left: 0px;
	border-bottom: 0px;
	padding: 0;
}

.archive.category .off-canvas-content {
	background: url(../images/ancom-bg.svg) center center;
    background-attachment: fixed;
    background-size: cover;
    min-height:90vh;
}

.archive.category footer p {
  color: white;
}

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }


/*********************
WIDGET STYLES
*********************/
.widget.widget_recent_entries ul {
  list-style-type: none;
}

.widget.widget_recent_entries ul li a {
	display: block;
    border-left: 0.5em solid #F60E33;
    padding: 0.25em 0 0.25em 0.75em;
    color: #F60E33;
    margin-bottom: 0.5rem;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    background: #F7F7FA;
}

.widget.widget_recent_entries ul li a:hover {
	background-color: #F60E33;
	color: white;
}

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }


/*# sourceMappingURL=style.css.map */
